fieldset {
    width:40%;
    min-width:200px;
    border-radius:10px;
	margin:2em 0em 0em 0em;
	text-align:left;
	margin:0 auto;
}

fieldset legend {
	font-size:2em;
}

input {
    display:block;
    width:100%;
    margin:5px 0px;
}

.divContent {
    background:#ffffff;
	text-align:center;
}

.btnLogin {
	width:auto;
	font-size:1em;
	float:right;
	border-radius:3px;
	padding:0.5em 1em;
}

#liLogin {
    background-color:white;
    color:black;
    border-color:black;
    border-width:1px;
    border-style:solid;
}

#liLogin a {
    color:black;
}